.logoTitle {
    color: #3626A7;
    font-size: 32px;
    margin: 14px 0 13px;
    padding: 0 0 15px 24px;
    border-bottom: 1px solid #E7E8EF;
}

.profileWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1204px;
    width: 100%;
    margin: 0 auto 20px;
}

.profileInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.backToMainLink {
    display: inline-block;
    color: #9195A4;
    text-decoration: none;
    width: 135px;
    padding: 2px 0 3px 0;
}

.backToMainLink:hover {
    background-color: #E7E8EF;
    border-radius: 6px;
    color: #151515;
}

.profileInfoTable {
    border: 1px solid #E7E8EF;
    border-radius: 6px;
    max-width: 488px;
    width: 100%;
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 7px 10px;
    border-bottom: 1px solid #E7E8EF;
}

.profileTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.profileLogOut {
    padding: 3px 5px 2px 0;
    cursor: pointer;
}

.profileLogOut:hover {
    background-color: #E7E8EF;
    border-radius: 6px;
}

.profileSubscribtion {
    max-width: 696px;
    width: 100%;
    background-color: goldenrod;
}

.nameSurnameWrapper {
    display: flex;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #E7E8EF;
    justify-content: center;
    gap: 10px;
}

.nameSurnameWrapper>div {
    max-width: 220px;
    height: 70px;
}

.rightSection {
    color: #3626A7
}