.userShortInfotrue {
    display: block;
}

.userShortInfofalse {
    display: none;
}

.active {
    font-weight: bold;
    color: rgb(18, 96, 18)
}

.filterPageWrapper {
    display: flex;
    height: 100%;
}

.filterTotalField {
    margin: 24px auto 0 0;
    padding: 0 0 16px 24px;
    border-bottom: 1px solid #E7E8EF;
    width: 100%;
}

.filterTotalNum {
    display: inline-block;
    background: rgba(54, 38, 167, 0.1);
    border-radius: 26px;
    padding: 4px 36px;
    color: #3626A7;
    text-align: center;
    font-size: 19px;
}

.filterFieldWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 228px;
    width: 100%;
    height: 100%;
    gap: 50px;
    margin-left: 24px;
}

.logoTitle {
    color: #3626A7;
    font-size: 32px;
    margin-top: 15px;
}

.filterLabelWrapper {
    margin-top: 8px;
}

.filtersTitle {
    font-size: 18px;
    padding-bottom: 16px;
    padding-left: 24px;
    margin-left: -24px;
    border-bottom: 1px solid #E7E8EF;
    margin-bottom: 8px;
}

.filterField {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filterLabel {
    display: inline-block;
    font-size: 15px;
}

.filterResultWrapper {
    border-left: 1px solid #E7E8EF;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.greetStWrapper {
    display: flex;
    flex-direction: column;
}

.filtersTip {
    margin: 113px 0 0 44px;
    padding: 20px 0 0 30px;
    max-width: 165px;
    background: url('../../assets/images/filterArrow.svg') no-repeat 10px 10px/41px 9px;
}

.greetsEmptyState {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: 368px;
    text-align: center;
    padding-top: 145px;
    margin: auto;
    background: url('../../assets/images/emptyState.png') no-repeat 50% 0/188px 121px;
}

.recentSearchWrapper {
    border: 1px solid #E7E8EF;
    border-radius: 16px;
    max-width: 488px;
    width: 100%;
    height: 200px;
    margin: 56px auto 20px auto;
}

.recentSearchBorder {
    border-top: 1px solid #E7E8EF;
    padding-top: 16px;
    margin-top: 8px;
}

.recentSearches {
    max-width: 210px;
    text-align: center;
    margin: 0 auto;
    padding-top: 85px;
    background: url('../../assets/images/emptySearches.png') no-repeat 50% 0/79px 79px;
}