.loginPageWrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.loginFormWrapper {
    flex-grow: 0;
    max-width: 50%;
    margin: 0 auto;
    padding: 0 10px;
}

.loginIntroPic {
    position: relative;
    width: 50%;
    background: #F5F6F9 url('../../assets/images/loginbg.jpg') no-repeat 0 0/100% 80%;
}

.logoWrapper {
    position: absolute;
    bottom: 16px;
    right: 12%;
}

.logo {
    color: #3626A7;
    font-size: 50px;
    margin: 0 10px 20px;
}

.logoSlogan {
    max-width: 550px;
    margin: 0 10px;
}

.loginPageTitle {
    margin: 84px 0 8px 0;
}

.loginPageAbstract {
    margin: 8px 0 28px 0;
    max-width: 357px;
}

.loginForm {
    margin: 0 auto;
}

.errorMessage {
    color: rgb(231, 44, 44);
    border: 1px solid rgb(231, 44, 44);
    border-radius: 6px;
    padding: 10px 20px;
    max-width: 384px;
}

.loginDataWrapper {
    margin: 28px 0;
}

@media (max-width: 950px) and (min-width: 320px) {
    .loginIntroPic {
        background-position: 0 50px;
        background-size: 100% 70%;
    }
}

@media (max-width: 850px) and (min-width: 320px) {
    .loginIntroPic {
        background-size: 100% 60%;
        background-position: 0 100px;
    }
}

@media (max-width: 783px) and (min-width: 320px) {
    .loginIntroPic {
        background-size: 100% 50%;
    }
}

@media (max-width: 690px) and (min-width: 320px) {
    .loginIntroPic {
        display: none
    }

    .loginFormWrapper {
        max-width: 88%;
    }
}