.loginPageWrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.loginFormWrapper {
    flex-grow: 0;
    max-width: 50%;
    margin: 0 auto;
}

.loginIntroPic {
    width: 50%;
    background: url('../../assets/images/loginbg.jpg') no-repeat 0 0/100% 100%;
}

.loginPageTitle {
    margin: 84px 0 8px 0;
}

.loginPageAbstract {
    margin: 8px 0 28px 0;
    max-width: 357px;
}

.loginForm {
    margin: 0 auto;
}

.errorMessage {
    color: red;
    border: 1px solid red;
    padding-left: 15px;
}

.loginDataWrapper {
    margin: 28px 0;
}