.upgradeWrapper {
    padding: 30px;
}

.upgradeTitle {
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #E7E8EF;
}

.upgradeAbstract {
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #E7E8EF;
    height: 400px;
    background-color: #C9C1FF;
    padding: 30px;
    font-size: 22px;
}